<header class="topbar">
  <div class="logo">Chambitas<span>Web</span></div>
  <nav class="nav-links">
    <a routerLink="/">About</a>
    <a routerLink="/">Support</a>
  </nav>
</header>
<div class="main-container">
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="registro-form">
  <div class="header">
  <h1>ChambitasWeb</h1>
  <p>Únete a nuestra comunidad para encontrar al<br> profesional que necesites cuando lo necesites.</p>
</div>
  <div class="form-group full-name-row">
   <div class="name-inputs">
    <input type="text" placeholder="Nombre(s)" formControlName="nombre" />
    <input type="text" placeholder="Apellido paterno" formControlName="apellidoPaterno" />
    <input type="text" placeholder="Apellido materno" formControlName="apellidoMaterno" />
  </div>
  </div>
<div class="error-message" *ngIf="(
    form.get('nombre')?.invalid && form.get('nombre')?.touched
  ) || (
    form.get('apellidoPaterno')?.invalid && form.get('apellidoPaterno')?.touched
  ) || (
    form.get('apellidoMaterno')?.invalid && form.get('apellidoMaterno')?.touched
  )">   
    Todos los campos del nombre son obligatorios.
</div>

  <div class="form-group">
    <label for="fechaNacimiento">Fecha de Nacimiento:</label>
    <input type="date" id="fechaNacimiento" formControlName="fechaNacimiento" />
    <div class="error-message" *ngIf="form.get('fechaNacimiento')?.invalid && form.get('fechaNacimiento')?.touched">
      La fecha de nacimiento es obligatoria.
    </div>
  </div>

  <div class="form-group">
    <select id="tipoUsuario" formControlName="tipoUsuario">
      <option value="" disabled selected>Selecciona un tipo de Usuario</option>
      <option>Cuenta Profesional</option>
      <option>Cuenta Cliente</option>
    </select>
    <div class="error-message" *ngIf="form.get('tipoUsuario')?.invalid && form.get('tipoUsuario')?.touched">
      Debes seleccionar un tipo de cuenta.
    </div>
  </div>

  <div class="form-group">
    <input type="email" placeholder="Correo electrónico" id="correo" formControlName="correo" />
    <div class="error-message" *ngIf="form.get('correo')?.invalid && form.get('correo')?.touched">
      Ingresa un correo electrónico válido.
    </div>
  </div>

  <div class="form-group">
    
    <input type="password" placeholder="Contraseña" id="contraseña" formControlName="contraseña" />
    <div class="error-message" *ngIf="form.get('contraseña')?.invalid && form.get('contraseña')?.touched">
      La contraseña debe tener entre 8 y 15 caracteres, con letras y números.
    </div>
  </div>

  <div class="form-group">
      <button type="submit" class="custom-btn" [disabled]="form.invalid">Sign Up</button>
  </div>

  <div class="login-redirect">
      <p>¿Ya tienes una cuenta?
    <a routerLink="/login">Inicia sesión</a>
      <p>
  </div>

</form>
</div>
