<app-topbar></app-topbar>
<div class="main-container">
  <div class="registro-form verification-box">
    <div class="header">
      <h1>¡Verifica tu correo!</h1>
      <p>Te hemos enviado un correo con un enlace para verificar tu cuenta.<br>
        Revisa tu bandeja de entrada o correo no deseado.</p>
    </div>

    <div class="form-group">
      <button class="custom-btn" (click)="reenviarCorreo()">Reenviar correo</button>
    </div>

    <div class="info-message" *ngIf="mensaje">
      {{ mensaje }}
    </div>
  </div>
</div>
