/* Fondo general con imagen */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  font-family: 'Catamaran', sans-serif;
}
body.auth-background {
  margin: 0;
  background: url('assets/fondo-estrellas.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
}
.main-container {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start; /* Alinea a la izquierda */
  align-items: center;
  min-height: 100vh;
  padding-left: 5vw; /* Ajusta este valor según lo que veas visualmente mejor */
}

/* Contenedor del formulario */
.registro-form {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 40px;
  border-radius: 40px;
  width: 1000px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

/* Etiquetas */
label {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 200 !important;
}

/* Campos de entrada */
input,
select {
    width: fit-content;
  min-width: 200px;
  max-width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 22px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Botón */
.custom-btn {
  width: auto;
  min-width: 120px;
  padding: 10px 30px;
  background-color: #8f4cf4;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 999px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.1s ease;
  display: inline-block;
  text-align: center;
}

.custom-btn:hover:not(:disabled) {
  background-color: #a76bf6;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
  transform: scale(1.03);
}

.custom-btn:disabled {
  background-color: #999;
  border-color: #ccc;
  cursor: not-allowed;
  box-shadow: none;
}


/* Mensajes de error */
.error-message {
  color: #ff6b6b;
  font-size: 20px;
  margin-top: -15px;
  margin-bottom: 10px;
}
.full-name-row label {
  margin-bottom: 10px;
  display: block;
}

.name-inputs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.name-inputs input {
  flex: 1;
  margin-bottom: 0;
}

h1 {
  font-family: 'Catamaran', sans-serif !important;
  font-weight: 700 !important;
}

p {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 200 !important;
}
.topbar {
  width: 100%;
  height: 66px;
  background-color: rgba(0, 0, 0, 0.6); /* semitransparente */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
  position: fixed; /* para que se quede arriba */
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  font-family: 'Catamaran', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #c088ff;
}

.logo span {
  color: white;
  font-weight: 400;
}

.nav-links a {
  margin-left: 30px;
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  transition: color 0.2s ease;
  cursor: pointer;
}

.nav-links a:hover {
  color: #c088ff;
}

.login-redirect {
  margin-top: 20px; /* separación respecto al botón */
  text-align: center;
  font-size: 15px;
}

.login-redirect a {
  color: #c088ff;
  text-decoration: underline;
  font-weight: 500;
}

.login-redirect a:hover {
  color: #e0b4ff;
}

.info-message {
  margin-top: 20px;
  font-size: 15px;
  color: #dcdcdc;
}

/* Estilos SOLO para topbar.component */
app-search-bar .search-bar {
  background-color: #000;
  color: white;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

app-search-bar .logo {
  font-family: 'Catamaran', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: white;
}

app-search-bar .logo span {
  color: #b580ff;
}

app-search-bar .search-bar-container {
  display: flex;
  align-items: center;
  background-color: #eee5ff;
  border-radius: 999px;
  padding: 5px 10px;
}

app-search-bar .search-bar-container input {
  border: none;
  background: transparent;
  outline: none;
  padding: 5px 10px;
  font-family: 'Catamaran', sans-serif;
}

app-search-bar .search-bar-container .search-bar-btn {
  background: none;
  border: none;
  color: #673ab7;
  cursor: pointer;
  font-size: 14px;
}

.main-layout-container {
  display: flex;
  height: 100vh;
}

.main-layout-sidebar {
  width: 300px;
  background-color: #000;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  color: white;
}

.main-layout-logo {
  font-size: 30px;
  font-weight: 700;
  color: #c088ff;
  margin-bottom: 2rem;
}

.main-layout-logo span {
  color: white;
  font-weight: 400;
}

.main-layout-sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-layout-favorites {
  background-color: #1e1e1e;
  border-radius: 12px;
  padding: 1rem;
  max-height: 850px;
  overflow-y: auto;
}

.favorites-header {
  
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.favorites-header .material-icons {
  color: #c084fc;
  margin-right: 8px;
  font-size: 33px;
}

.main-layout-favorites h3 {
  margin: 0;
  color: white;
  font-weight: 600;
  font-size: 24px;
}

.favorites-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.favorites-list li {
  font-size: 22px;
  display: flex;
  align-items: center;
  color: #ddd;
  padding: 6px 0;
}

.favorites-list li .material-icons {
  font-size: 28px;
  margin-right: 8px;
  color: #ccc;
}
.favorites-scroll {
  overflow-y: auto;
  flex: 1;
}
.main-layout-favorites::-webkit-scrollbar {
  width: 6px;
}

.main-layout-favorites::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.main-layout-favorites::-webkit-scrollbar-track {
  background: transparent;
}

.main-layout-content { 
  flex: 1;
  background: linear-gradient(to bottom, #1f1f1f, #d946ef);
  overflow-y: auto;
  padding: 90px 2rem 2rem 2rem;
}

.main-layout-topbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1000;
}

.main-layout-topbar input {
  height: 48px;
  margin: 0;
  width: 50%;
  max-width: 700px;
  padding: 0 20px;
  border-radius: 999px;
  border: none;
  outline: none;
  font-size: 25px;
  background-color: #eee5ff;
  color: #2a003f;
  box-shadow: 0 0 8px #c084fc;
  transition: all 0.3s ease;
  line-height: normal;
  vertical-align: middle;
  display: inline-block;
}
.main-layout-nav {
  margin: 0.75rem 0;
  cursor: pointer;
  font-size: 25px;
  background-color: #1e1e1e;
  border-radius: 12px;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.main-layout-nav ul {
  list-style: none;
  padding: 0;
  margin: 0.75rem 0;
}

.main-layout-nav li {
  margin: 0.75rem 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #8e8e8e;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.main-layout-nav li.active {
  color: white;
  font-weight: 700;
}

.main-layout-nav li .material-icons {
  margin-right: 10px;
  color: #c084fc;
  font-size: 35px;
}
.home-container {
  padding: 1rem 2rem;
  color: white;
}

.home-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.categoria-filtros {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.categoria-filtros label {
  color: #ddd;
}

.categorias-lista {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.categoria-nombre {
  color: #c084fc;
  margin-bottom: 0.5rem;
  font-weight: 600;
  text-shadow: 1px 1px 4px rgba(52, 31, 64, 0.534);
  
}

.profesiones-carrusel {
  display: flex;
  overflow-x: auto;
  gap: 1.5rem;
  padding-bottom: 10px;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.profesiones-carrusel::-webkit-scrollbar {
  display: none;
}
.profesiones-carrusel {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

.profesion-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
  cursor: pointer;
  margin-right: 1.5rem;
  flex: 0 0 auto;
}

.profesion-circle {
  width: 180px;
  height: 180px;
  background-color: #ccc;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  box-shadow: 0 0 8px rgba(192, 132, 252, 0.7); /* brillo suave */
  transition: transform 0.3s ease;
}

.profesion-nombre {
  font-size: 25px;
  text-align: center;
  color: white;
}
select {
  font-family: 'Catamaran', sans-serif;
  font-size: 23px;
  color: white;
  background-color: #1a1a1a00;
  border: none;
  border-radius: 8px;
  padding: 8px 40px 8px 12px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

select {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6'%3e%3cpolygon points='0,0 10,0 5,6' fill='white'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 15px 10px;
}

select:hover, select:focus {
  background-color: #4e276952;
  outline: none;
}

option {
  background-color: #1a1a1a;
  color: white;
}
.page-view {
  overflow-y: auto;
  height: 100%;
}

/* Scrollbar para navegadores WebKit (Chrome, Edge, Safari) */
.page-view::-webkit-scrollbar {
  width: 8px;
}

.page-view::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.7);
  border-radius: 12px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.page-view::-webkit-scrollbar-track {
  background: transparent;
}

.page-view {
  scrollbar-width: 10px;
  scrollbar-color: rgba(92, 92, 92, 0.7) transparent;
}